# 项目排除路径
/.gradle/
/.idea/
/build/
/common/.gradle/
/common/build/
/common/src/generated/resources/.cache/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/fabric/build/classes/java/main/
/forge/.gradle/
/forge/build/
/forge/run/
/forge/build/classes/java/main/

# 忽视文件
*.xml
*.name
*.iml